@model IEnumerable<DefectSearchResultsViewModel>
@{
    ViewBag.Title = "Search Defects";
}
<h2>Search Defects</h2>
<p>
    @Html.ActionLink("Create New Defect", "Create")
</p>
<table id="searchResults">
    <thead>
        <tr>
            <th>Project</th>
            <th>Summary</th>
            <th>Severity</th>
            <th>Created By</th>
            <th>Assigned To</th>
            <th>Created Date</th>
            <th>Modified Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Project</td>
                <td>@item.Summary</td>
                <td>@item.Severity</td>
                <td>@item.CreatedBy</td>
                <td>@item.AssignedTo</td>
                <td>@item.CreateDate</td>
                <td>@item.ModifyDate</td>
            </tr>
        }
    </tbody>
</table>
<script src="@Url.Content("~/Scripts/jquery.dataTables.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        $('#searchResults').dataTable({
            "bJQueryUI": true,
            "sPaginationType": "full_numbers"
        });
    });
</script>
